{% extends 'base.html.twig'%}

{% block body_id 'cart' %}

{#
{% block numOfBooksInCart %}
    {{ cartItems|length }}
{% endblock %}
#}

{% block main %}
    {% for item in cartItems %}

        <div class="row">

        </div>
    {% endfor %}

{% endblock %}