<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome to Bookean!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap-flatly.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                {#<link rel="stylesheet" href="{{ asset_url }}">#}
            {% endstylesheets %}

            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>

    <body id="{% block body_id %}{% endblock %}">
        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="
                navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                Bookean shop
                            </a>

                            <ul class="nav navbar-nav navbar-right">
                                {% block header_links %}
                                    <li>
                                        <a href="{{ path('cart') }}">
                                            {{ 'cart'|trans }}
                                            ({{ amountOfBooksInCart() }})
                                            - {{ totalPrice() }}
                                            {#({% block numOfBooksInCart %}0{% endblock %})#}
                                        </a>
                                    </li>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="#">
                                                {{ 'menu.admin'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                                {% if app.user %}
                                    <li>
                                        <a href="{{ path('security_logout') }}">
                                            {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('security_login_form') }}">
                                            {{ 'menu.login'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button"
                                       aria-expanded="false"
                                    >
                                        <i class="fa fa-globe"></i>
                                        {{ 'language'|trans }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu locales" role="menu">
                                        {% for locale in locales() %}
                                            <li
                                                    {#{% if app.request.locale == locale.code %}class="active"{% endif %}#}
                                            >
                                                <a href="{{ path(
                                                    app.request.get('_route', 'homepage'),
                                                    app.request.get('_route_params', [])
                                                    |merge({_locale: locale.code})
                                                )
                                                }}">
                                                    {{ locale.name|capitalize }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}


        <div class="container body-container">
            {% block body %}
                <div class="row">
                    {#<div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            {{ render_esi(
                            controller('FrameworkBundle:Template:template', {
                                'template': 'default/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                        {% endblock %}
                    </div>#}

                    <div id="main" class="col-sm-12">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>


        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-12">
                            <p>&copy; {{ 'now'|date('Y') }} - Bookean</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}


        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery-2.2.4.min.js"
                "%kernel.root_dir%/Resources/assets/js/moment.min.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.6.min.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-datetimepicker.min.js"
                "%kernel.root_dir%/Resources/assets/js/holder.min.js"
                "%kernel.root_dir%/Resources/assets/js/main.js"
            %}
                {#<script src="{{ asset_url }}"></script>#}
            {% endjavascripts %}

            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}

    </body>
</html>
