<div class="book-widget">
    <a href="{{ path('book_show', {id: book.id}) }}">
        <h2>{{ book.title }}</h2>
        <img src="images/cover.jpg">
    </a><br>
    {{ book.price }} rub.<br>
    {{ book.createdAt|date("d-m-Y") }}<br>
    {{ book.orderedNumberOfTimes }}<br>

    {% if isBookInCart(book.id) %}
        <a href="{{ path('cart') }}">
            Go to cart
        </a>
    {% else %}
        <a href="{{ path('add_book_to_cart', {bookId: book.id, amount: 1}) }}">
            Add to cart
        </a>
    {% endif %}
</div>