{{ form_start(form, { method: 'POST', action: path('review_new', {'bookId': book.id}) }) }}
    <fieldset>
        <legend>{{ 'title.add_comment'|trans }}</legend>
        {{ form_errors(form) }}

        <div class="form-group {% if not form.comment.vars.valid %}has-error{% endif %}">
            {{ form_label(form.comment, 'label.comment', { label_attr: { class: 'hidden' } }) }}

            {{ form_errors(form.comment) }}

            {{ form_widget(form.comment, {attr: { rows: 10 } }) }}
        </div>

        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit">
                {{ 'action.publish_review'|trans }}
            </button>
        </div>
    </fieldset>
{{ form_end(form) }}
