{% extends 'base.html.twig' %}

{% block body_id 'book_show' %}

{% block main %}
    <h1>{{ book.title }}</h1><br>
    <p><b>Year:</b> {{ book.year }}</p>
    <p><b>Pages:</b> {{ book.pages }}</p>
    <p><b>Publisher:</b> {{ book.publisher.publisher }}</p>
    <p><b>Annotation:</b> {{ book.annotation }}</p>

    <div id="book-add-comment" class="well">
        {% if is_granted('ROLE_USER') %}
            {{ render(controller('AppBundle:Default:reviewForm', {'id': book.id})) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('security_login_form') }}">
                    <i class="fa fa-sign-in"></i> {{ 'action.sign_in'|trans }}
                </a>
                {{ 'book.to_publish_a_comment'|trans }}
            </p>
        {% endif %}
    </div>

    <h3>{{ 'book.num_reviews'|transchoice(book.reviews|length) }}</h3>

    {% for review in book.reviews %}
        <div class="row book-review">
            <h4 class="col-sm-3">
                <strong>{{ review.authorName }}</strong>
                {{ 'book.reviewed_on'|trans }}
                <strong>{{ review.createdAt|localizeddate('medium', 'short') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ review.comment }}
            </div>
        </div>
    {% else %}
        <div class="book-review">
            <p>{{ 'book.no_reviews'|trans }}</p>
        </div>
    {% endfor %}
    
{% endblock %}
