{% extends "base.html.twig" %}

{% block body_id "bookean_index" %}

{% block main %}
    <div class="row">
        <h1>{{ "books.newest"|trans }}</h1>
        {% for book in newestBooks %}
            {% include 'default/_book_widget.html.twig' %}
        {% endfor %}
    </div>

    <div class="row"><br>
        <h1>{{ "books.bestsellers"|trans }}</h1>
        {% for book in bestsellers %}
            {% include 'default/_book_widget.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
