{% extends 'base.html.twig' %}

{% block body_id 'review_form_error' %}

{% block main %}
    <h1 class="text-danger">{{ 'title.review_error'|trans }}</h1>

    <div class="well">
        {{ include('default/_review_form.html.twig') }}
    </div>
{% endblock %}

