@import "bootswatch-flatly/variables";

//
// Typography
//------------------------------------------

p, ul, ol {
    font-size: $font-size-large;
    margin-bottom: 1.5em;
}

li {
    margin-bottom: .5em;
}

//
// Icons
//-----------------------------------------

i {
    margin-right: .25em;
}

//
// Page elements
//-----------------------------------------

.book-widget {
    width: 300px;
    float: left;
}

// Header
header {
    margin-bottom: 2em;

    ul.nav li {
        margin-bottom: 0;
    }

    .locales a {
        padding-right: 10px;
    }
}

// Footer
footer {
    background: $brand-primary;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;

    p {
        color: $gray-lighter;
        font-size: $font-size-small;
        margin-bottom: .25em;
    }
}

//
// Forms
//-----------------------------------------
textarea {
    max-width: 100%;
}
