{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageDate, 'security') }}
        </div>
    {% endif %}

    <div class="well">
        <form action="{{ path('security_login_check') }}" method="post">
            <fieldset>
                <legend>
                    <i class="fa fa-lock"></i>
                    {{ 'title.login'|trans }}
                </legend>
                <div class="form-group">
                    <label for="username">
                        {{ 'label.username'|trans }}
                    </label>
                    <input type="text" id="username" name="_username"
                           value="last_username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">
                        {{ 'label.password'|trans }}
                    </label>
                    <input type="text" id="password" name="_password"
                            class="form-control">
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="button button-primary">
                    <i class="fa fa-sign-in"></i>
                    {{ 'action.sign_in'|trans }}
                </button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('#username').val('pavel');
            $('#password').val('123456');
        });
    </script>
{% endblock %}
